/* Colori */
:root {
  --text-color: #ffffff;

  --wrapper-background-color: #141318;

  --chat-background-color: #1c1d22;
  --chat-second-color: #373a43;
  --chat-active-card-color: #26262E;

  --footer-background-color: #2d2d35;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
span {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* LAYOUT */
div.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  background-color: var(--wrapper-background-color);
}

div.main {
  display: flex;
  height: calc(100vh - 80px);
}

/* Sidebar */
div.sidebar {
  left: 0%;
  max-width: 80px;
}

div.sidebar li {
  margin: 15px 15px;
}

img.side-img {
  border-radius: 50%;
  transition: border-radius 0.2s;
}

li.side-item.active img.side-img,
li.side-item:hover img.side-img {
  border-radius: 20%;
}

li.side-item.active::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  height: 45px;
  width: 10px;
  left: 0;
  transform: translate(-60%, -105%);
  border-radius: 20%;
}

/* Chat */
div.chat-section {
  flex-grow: 1;
  overflow: auto;
  margin-top: 10px;
  border-top-left-radius: 15px;
  background-color: var(--chat-background-color);
}

div.chat-section h1 {
  margin: 30px 0px 10px 20px;
  font-size: 26px;
}

div.chat-bar {
  display: flex;
  justify-content: center;
  gap: 20px;
}

div.chat-bar i.bi-search {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--chat-second-color);
}

div.chat-bar a.add-friend {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 340px;
  height: 30px;
  border-radius: 15px;
  background-color: var(--chat-second-color);
}

/* Chats */
div.chats {
  padding: 10px;
}

div.chats li {
  margin: 13px 0;
  overflow-y: auto;
}

div.chats li.chat-item {
  height: 60px;
  transition: all 0.2s;
}

li.chat-item.active,
li.chat-item:hover {
  background-color: var(--chat-active-card-color);
  border-radius: 10px;
}

div.chats a.chat-card {
  display: flex;
  align-items: center;
  position: relative;
  gap: 10px;
  padding: 10px;
}

div.chats a.chat-card img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

a.chat-card::after {
  content: "";
  position: absolute;
  left: 33px;
  top: 35px;
  
  width: 12px;
  height: 12px;
  
  background-color: #F94349;
  border: 5px solid #1C1D22;
  border-radius: 50%;
}

li.chat-item.active a.chat-card::after,
li.chat-item:hover a.chat-card::after {
  border: 5px solid var(--chat-active-card-color);
}

li.chat-item div.info-chat-card {
  display: flex;
  flex-direction: column;
  width: 80%;
}

li.chat-item span {
  opacity: 50%;
}

li.chat-item.active span,
li.chat-item:hover span {
  opacity: 100%;
}

.info-chat-card {
  width: 80%;
}

/* Footer */
div.footer {
  height: 80px;
  background-color: var(--footer-background-color);
}

nav.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 15px;
}

nav.footer-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

nav.footer-nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: #b9bbbe;
  transition: color 0.2s;
}

nav.footer-nav i {
  position: relative;
  font-size: 30px;
  translate: 0px -10px;
}

nav.footer-nav span {
  position: absolute;
  font-size: 14px;
  translate: 0px 25px;
}

nav.footer-nav img {
  width: 30px;
  border-radius: 50%;
  translate: 0px -10px;
}

nav.footer-nav a:hover {
  color: #ffffff;
}
