/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* LAYOUT */
div.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  background-color: #141318;
}

div.main {
  display: flex;
  height: calc(100vh - 80px);
}

/* Sidebar */
div.sidebar {
  left: 0%;
  max-width: 80px;
}

div.sidebar li {
  margin: 15px 15px;
}

img.side-img {
  border-radius: 50%;
  transition: border-radius 0.3s;
}

li.side-item.active img.side-img,
li.side-item:hover img.side-img {
  border-radius: 20%;
}

li.side-item.active::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  height: 50px;
  width: 10px;
  left: 0;
  transform: translate(-60%, -110%);
  border-radius: 20%;
}

/* Chat */
div.chat {
  flex-grow: 1;
  overflow: auto;
  margin-top: 10px;
  border-top-left-radius: 3%;
  background-color: #1C1D22;
}

/* Footer */
div.footer {
  height: 80px;
  background-color: #2d2d35;
}

nav.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 15px;
}

nav.footer-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

nav.footer-nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: #b9bbbe;
  transition: color 0.3s;
}

nav.footer-nav i {
  position: relative;
  font-size: 30px;
  translate: 0px -10px;
}

nav.footer-nav span {
  position: absolute;
  font-size: 11px;
  translate: 0px 25px;
}

nav.footer-nav img {
  width: 30px;
  border-radius: 50%;
  translate: 0px -10px;
}

nav.footer-nav a:hover {
  color: #ffffff;
}