/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* LAYOUT */
div.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  background-color: #141318;
}

div.main {
  display: flex;
  height: calc(100vh - 80px);
}

/* Sidebar */
div.sidebar {
  left: 0%;
  max-width: 80px;
}

div.sidebar li {
  margin: 15px 15px;
}

img.side-img {
  border-radius: 50%;
  transition: border-radius 0.3s ease;
}

li.side-item.active img.side-img,
li.side-item:hover img.side-img {
  border-radius: 20%;
}

li.side-item.active::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  height: 50px;
  width: 10px;
  left: 0;
  transform: translate(-60%, -110%);
  border-radius: 20%;
}

/* Chat */
div.chat {
  flex-grow: 1;
  overflow: auto;
  margin-top: 10px;
  border-top-left-radius: 3%;
  background-color: #1c1d22;
}

/* Footer */
div.footer {
  height: 80px;
  background-color: #2d2d35;
}
