/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

li {
  margin: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* LAYOUT */
div.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

div.main {
  display: flex;
  height: calc(100vh - 80px);
}

div.sidebar {
  left: 0%;
  max-width: 70px;
  background-color: red;
}

div.sidebar img.side-img {
  border-radius: 50%;
}

div.chat {
  flex-grow: 1;
  overflow: auto;
  background-color: green;
}

div.footer {
  height: 80px;
  background-color: #0000ff;
}
